.container{
    background-color: skyblue;
    height: 200px; margin-top: 50px;
    width: 300px;
    text-align: center;
    padding-top: 30px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 100px;
}
.ee{
    margin-top: 40px;
}
.int{
    border-radius: 10px;
    height: 20px;
    width: 190px;
}